.font{
    text-align: center;
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.daftar{
    text-align: left;
    object-position: center;
    font-size: 15px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;  
}